<div class="item">
  <div *ngIf="!isParam && field">
    <span class="item-text">{{field.name}}</span>
    <span class="item-text">{{field.type}}</span>
    <span class="item-text" *ngIf="field.constr">Constructor</span>
    <span class="icon">
      <mat-icon (click)="removeField()">cancel</mat-icon>
    </span>
  </div>
  <div *ngIf="isParam && field">
    <span class="item-text">{{field.name}}</span>
    <span class="item-text">{{field.type}}</span>
    <span class="icon">
      <mat-icon (click)="removeMethodParam()">cancel</mat-icon>
    </span>
  </div>
  <div *ngIf="useCase">
    <span class="item-text">{{useCase.name}}</span>
    <span class="icon">
      <mat-icon (click)="removeUseCase()">cancel</mat-icon>
    </span>
  </div>
  <div *ngIf="presenter">
    <span class="item-text">{{presenter.name}}</span>
    <span class="icon">
      <mat-icon (click)="removePresenter()">cancel</mat-icon>
    </span>
  </div>
</div>