<div *ngIf="isNewFlowTab">
    <header>
        <mat-label>New Flow</mat-label>
    </header>
    <div class="newFlow">
        <form [formGroup]="newFlowForm" (ngSubmit)="onNewFlowSubmit(newFlowForm.value)" class="newFlowForm">
            <div>
                <mat-form-field class="newFlowFields">
                    <input formControlName="mainPackageName" matInput placeholder="main package">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="newFlowFields">
                    <input formControlName="flowName" matInput placeholder="flow name">
                </mat-form-field>
            </div>
            <button mat-mini-fab color="primary" class="newFlowPositiveButon">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </form>
    </div>
</div>

<!-- USE CASES START HERE  -->
<div *ngIf="isUseCaseTab">
    <header>
        <mat-label>{{flowName}} - Use Cases</mat-label>
    </header>
    <div>
        <dfx-list-item *ngFor="let useCase of pendingUseCases;let a = index" [useCase]="useCase"
            (removeUseCaseItem)="removeUseCase(a)"></dfx-list-item>

        <form class="example-form" [formGroup]="addUseCaseToFlowForm"
            (ngSubmit)="onAddUseCaseToFlow(addUseCaseToFlowForm.value)">
            <mat-form-field class="example-width">
                <mat-label>Use Case</mat-label>
                <mat-select formControlName="useCase">
                    <mat-option *ngFor="let useCase of useCases" [value]="useCase">
                        {{useCase.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </form>

        Create a new Use Case:
        <header id="modal-header">
            <mat-form-field id="modal-title">
                <mat-label>UseCaseName</mat-label>
                <textarea [(ngModel)]="useCaseName" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1">{{useCaseName}}</textarea>
            </mat-form-field>
        </header>
        <div class="container">
            <div class="wrapper">
                <h3 class="title no-select" (click)="fieldsExpanded = !fieldsExpanded">
                    <div class="item-wrapper">
                        <div class="text no-select">Fields</div>
                    </div>
                    <mat-icon class="mat-icon-rtl-mirror end no-select">
                        {{fieldsExpanded ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </h3>
            </div>
            <div class="expand-child no-select" *ngIf="fieldsExpanded">
                <div class="child no-select">
                    <dfx-list-item *ngFor="let field of pendingFields;let a = index" [field]="field"
                        (removeField)="removeField(a)"></dfx-list-item>

                    <div class="new-item">
                        <div class="inline" (click)="newFieldExpanded = true" *ngIf="!newFieldExpanded">
                            <mat-icon>add</mat-icon>
                            <span class="new">add a new field</span>
                        </div>

                        <form class="example-form" [formGroup]="fieldsForm" (ngSubmit)="onFieldSubmit(fieldsForm.value)"
                            *ngIf="newFieldExpanded">
                            <mat-checkbox class="example-width" [(ngModel)]="isConstr" [checked]="isConstr"
                                [ngModelOptions]="{standalone: true}">Constructor
                            </mat-checkbox>

                            <div class="example-width" style="display:inline-block;">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="entity" (selectionChange)="onTypeSelected($event)">
                                        <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                            {{entity.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field style="width: 100%;" *ngIf="isTypedParameterOpened">
                                    <mat-label>Parameterized Type</mat-label>
                                    <mat-select formControlName="parameterizedEntity">
                                        <mat-option *ngFor="let parameterizedEntity of nonPrimitiveEntities"
                                            [value]="parameterizedEntity">
                                            {{parameterizedEntity.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <mat-form-field class="example-width">
                                <input formControlName="fieldName" matInput placeholder="fieldName">
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <h3 class="title no-select" (click)="methodsExpanded = !methodsExpanded; methodExpanded = false">
                    <div class="item-wrapper">
                        <div class="text no-select">Methods</div>
                    </div>
                    <mat-icon class="mat-icon-rtl-mirror end no-select">
                        {{methodsExpanded ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </h3>
            </div>

            <div class="expand-child no-select" *ngIf="methodsExpanded">
                <div *ngFor="let method of pendingMethods;let i = index">
                    <h3 class="title no-select" (click)="switchExpansionForMethod(method)">
                        <div class="item-wrapper">
                            <div class="text no-select">{{method.name}}</div>
                        </div>
                        <mat-icon class="mat-icon-rtl-mirror end no-select">
                            {{isMethodExpanded(method) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </h3>
                    <div class="expand-child no-select" *ngIf="isMethodExpanded(method)">
                        <div class="child no-select">
                            <dfx-list-item *ngFor="let field of method.parameters;let a = index" [field]="field"
                                [isParam]="true" (removeMethodParam)="removeMethodParam(i, a)"></dfx-list-item>

                            <div class="new-item">
                                <div class="inline" (click)="newPrameterExpanded= true" *ngIf="!newPrameterExpanded">
                                    <mat-icon>add</mat-icon>
                                    <span class="new">add a new parameter</span>
                                </div>

                                <form class="example-form" [formGroup]="methodFieldsForm"
                                    (ngSubmit)="onNewFieldToMethodSubmit(methodFieldsForm.value, method)"
                                    *ngIf="newPrameterExpanded">
                                    <mat-form-field class="example-width">
                                        <mat-label>Type</mat-label>
                                        <mat-select formControlName="entity">
                                            <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                                {{entity.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="example-width">
                                        <input formControlName="fieldName" matInput placeholder="field name">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-item">
                    <div class="inline" (click)="methodExpanded=true" *ngIf="!methodExpanded">
                        <mat-icon>add</mat-icon>
                        <span class="new">add a new method</span>
                    </div>

                    <form class="example-form-inline" [formGroup]="useCaseMethodsForm"
                        (ngSubmit)="onUseCaseMethodSubmit(useCaseMethodsForm.value)" *ngIf="methodExpanded">
                        <mat-form-field class="new-method-details-width">
                            <input formControlName="mehtodName" matInput placeholder="methodName">
                        </mat-form-field>

                        <div class="example-width" style="display:inline-block;">
                            <mat-form-field cstyle="width: 100%;">
                                <mat-label>Return Type</mat-label>
                                <mat-select formControlName="returnType"
                                    (selectionChange)="onReturnTypeSelected($event)">
                                    <mat-option *ngFor="let returnEntity of allEntities" [value]="returnEntity">
                                        {{returnEntity.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field style="width: 100%;" *ngIf="isReturnTypedParameterOpened">
                                <mat-label>Parameterized Type</mat-label>
                                <mat-select formControlName="returnParameterizedEntity">
                                    <mat-option *ngFor="let returnParameterizedEntity of nonPrimitiveEntities"
                                        [value]="returnParameterizedEntity">
                                        {{returnParameterizedEntity.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="new-method-details-width">
                            <div class="new-item">
                                <mat-label>Parameters</mat-label>

                                <dfx-list-item *ngFor="let pendingParam of pendingParams;let a = index"
                                    [field]="pendingParam" [isParam]="true"
                                    (removeMethodParam)="removePendingMethodParam(a)"></dfx-list-item>

                                <form class="example-form" [formGroup]="newMethodFieldsForm"
                                    (ngSubmit)="onPendingParamSubmit(newMethodFieldsForm.value)">

                                    <div class="example-width" style="display:inline-block;">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Type</mat-label>
                                            <mat-select formControlName="entity"
                                                (selectionChange)="onMethodParamTypeSelected($event)">
                                                <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                                    {{entity.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field style="width: 100%;" *ngIf="isMethodParamTypedParameterOpened">
                                            <mat-label>Parameterized Type</mat-label>
                                            <mat-select formControlName="parameterizedEntity">
                                                <mat-option *ngFor="let parameterizedEntity of nonPrimitiveEntities"
                                                    [value]="parameterizedEntity">
                                                    {{parameterizedEntity.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field class="example-width">
                                        <input formControlName="fieldName" matInput placeholder="field name">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="saveNewUseCase()">Add</button>
        </div>

        <button mat-mini-fab color="primary" class="newFlowNegativeButon" (click)="goBackFromUseCaseTab()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="newFlowPositiveButon" (click)="goNextFromUseCaseTab()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>
<!-- USE CASES END HERE -->

<!-- PRESENTERS START HERE -->
<div *ngIf="isPresenterTab">
    <header>
        <mat-label>{{flowName}} - Presenters</mat-label>
    </header>
    <div>
        <dfx-list-item *ngFor="let presenter of pendingPresenters;let a = index" [presenter]="presenter"
            (removePresenterItem)="removePresenter(a)"></dfx-list-item>


        <form class="example-form" [formGroup]="addPresenterToFlowForm"
            (ngSubmit)="onAddPresenterToFlow(addPresenterToFlowForm.value)">
            <mat-form-field class="example-width">
                <mat-label>Presenter</mat-label>
                <mat-select formControlName="presenter">
                    <mat-option *ngFor="let presenter of presenters" [value]="presenter">
                        {{presenter.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </form>

        Create a new Presenter:
        <header id="modal-header">
            <mat-form-field id="modal-title">
                <mat-label>PresenterName</mat-label>
                <textarea [(ngModel)]="presenterName" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1">{{presenterName}}</textarea>
            </mat-form-field>
        </header>
        <div class="container">
            <div class="wrapper">
                <h3 class="title no-select" (click)="fieldsExpanded = !fieldsExpanded">
                    <div class="item-wrapper">
                        <div class="text no-select">Fields</div>
                    </div>
                    <mat-icon class="mat-icon-rtl-mirror end no-select">
                        {{fieldsExpanded ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </h3>
            </div>
            <div class="expand-child no-select" *ngIf="fieldsExpanded">
                <div class="child no-select">
                    <dfx-list-item *ngFor="let field of pendingFields;let a = index" [field]="field"
                        (removeField)="removeField(a)"></dfx-list-item>
                    <div class="new-item">
                        <div class="inline" (click)="newFieldExpanded = true" *ngIf="!newFieldExpanded">
                            <mat-icon>add</mat-icon>
                            <span class="new">add a new field</span>
                        </div>

                        <form class="example-form" [formGroup]="fieldsForm" (ngSubmit)="onFieldSubmit(fieldsForm.value)"
                            *ngIf="newFieldExpanded">
                            <mat-checkbox class="example-width" [(ngModel)]="isConstr" [checked]="isConstr"
                                [ngModelOptions]="{standalone: true}">Constructor
                            </mat-checkbox>

                            <div class="example-width" style="display:inline-block;">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="entity" (selectionChange)="onTypeSelected($event)">
                                        <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                            {{entity.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field style="width: 100%;" *ngIf="isTypedParameterOpened">
                                    <mat-label>Parameterized Type</mat-label>
                                    <mat-select formControlName="parameterizedEntity">
                                        <mat-option *ngFor="let parameterizedEntity of nonPrimitiveEntities"
                                            [value]="parameterizedEntity">
                                            {{parameterizedEntity.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <mat-form-field class="example-width">
                                <input formControlName="fieldName" matInput placeholder="fieldName">
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <h3 class="title no-select" (click)="methodsExpanded = !methodsExpanded">
                    <div class="item-wrapper">
                        <div class="text no-select">Methods</div>
                    </div>
                    <mat-icon class="mat-icon-rtl-mirror end no-select">
                        {{methodsExpanded ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </h3>
            </div>

            <div class="expand-child no-select" *ngIf="methodsExpanded">
                <div *ngFor="let method of pendingMethods;let i = index">
                    <h3 class="title no-select" (click)="switchExpansionForMethod(method)">
                        <div class="item-wrapper">
                            <div class="text no-select">{{method.name}}</div>
                        </div>
                        <mat-icon class="mat-icon-rtl-mirror end no-select">
                            {{isMethodExpanded(method) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </h3>
                    <div class="expand-child no-select" *ngIf="isMethodExpanded(method)">
                        <div class="child no-select">
                            <dfx-list-item *ngFor="let field of method.parameters;let a = index" [field]="field"
                                [isParam]="true" (removeMethodParam)="removeMethodParam(i, a)"></dfx-list-item>

                            <div class="new-item">
                                <div class="inline" (click)="newPrameterExpanded= true" *ngIf="!newPrameterExpanded">
                                    <mat-icon>add</mat-icon>
                                    <span class="new">add a new parameter</span>
                                </div>

                                <form class="example-form" [formGroup]="methodFieldsForm"
                                    (ngSubmit)="onNewFieldToMethodSubmit(methodFieldsForm.value, method)"
                                    *ngIf="newPrameterExpanded">
                                    <mat-form-field class="example-width">
                                        <mat-label>Type</mat-label>
                                        <mat-select formControlName="entity">
                                            <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                                {{entity.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="example-width">
                                        <input formControlName="fieldName" matInput placeholder="field name">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-item">
                    <div class="inline" (click)="methodExpanded=true" *ngIf="!methodExpanded">
                        <mat-icon>add</mat-icon>
                        <span class="new">add a new method</span>
                    </div>

                    <form class="example-form-inline" [formGroup]="presenterMethodsForm"
                        (ngSubmit)="onPresenterMethodSubmit(presenterMethodsForm.value)" *ngIf="methodExpanded">
                        <mat-form-field class="new-method-details-width">
                            <input formControlName="mehtodName" matInput placeholder="methodName">
                        </mat-form-field>
                        <div class="example-width" style="display:inline-block;">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Return Type</mat-label>
                                <mat-select formControlName="returnType"
                                    (selectionChange)="onReturnTypeSelected($event)">
                                    <mat-option *ngFor="let returnEntity of allEntities" [value]="returnEntity">
                                        {{returnEntity.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" *ngIf="isReturnTypedParameterOpened">
                                <mat-label>Parameterized Type</mat-label>
                                <mat-select formControlName="returnParameterizedEntity">
                                    <mat-option *ngFor="let returnParameterizedEntity of nonPrimitiveEntities"
                                        [value]="returnParameterizedEntity">
                                        {{returnParameterizedEntity.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field style="width: 100%;">
                                <mat-label>Use Case to call</mat-label>
                                <mat-select formControlName="useCaseToCall">
                                    <mat-option *ngFor="let useCaseToCall of pendingUseCases" [value]="useCaseToCall"
                                        (onSelectionChange)="presenterMethodUseCaseSelected($event)">
                                        {{useCaseToCall.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" *ngIf="useCaseMethods.length">
                                <mat-label>Method to call</mat-label>
                                <mat-select formControlName="useCaseMethodToCall">
                                    <mat-option *ngFor="let useCaseMethodToCall of useCaseMethods"
                                        [value]="useCaseMethodToCall">
                                        {{useCaseMethodToCall.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="new-method-details-width">
                            <div class="new-item">
                                <mat-label>Parameters</mat-label>

                                <dfx-list-item *ngFor="let pendingParam of pendingParams;let a = index"
                                    [field]="pendingParam" [isParam]="true"
                                    (removeMethodParam)="removePendingMethodParam(a)"></dfx-list-item>

                                <form class="example-form" [formGroup]="newMethodFieldsForm"
                                    (ngSubmit)="onPendingParamSubmit(newMethodFieldsForm.value)">

                                    <div class="example-width" style="display:inline-block;">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Type</mat-label>
                                            <mat-select formControlName="entity"
                                                (selectionChange)="onMethodParamTypeSelected($event)">
                                                <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                                    {{entity.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field style="width: 100%;" *ngIf="isMethodParamTypedParameterOpened">
                                            <mat-label>Parameterized Type</mat-label>
                                            <mat-select formControlName="parameterizedEntity">
                                                <mat-option *ngFor="let parameterizedEntity of nonPrimitiveEntities"
                                                    [value]="parameterizedEntity">
                                                    {{parameterizedEntity.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field class="example-width">
                                        <input formControlName="fieldName" matInput placeholder="field name">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="saveNewPresenter()">Add</button>
        </div>

        <button mat-mini-fab color="primary" class="newFlowNegativeButon" (click)="goBackFromPresenterTab()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="newFlowPositiveButon" (click)="goNextFromPresenterTab()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>
<!-- PRESENTERS END HERE -->

<!-- VIEWS START HERE -->
<div *ngIf="isViewTab">
    <header>
        <mat-label>{{flowName}} - Views</mat-label>
    </header>
    <div>
        Create a new View:
        <header id="modal-header">
            <mat-form-field id="modal-title">
                <mat-label>ViewName</mat-label>
                <textarea [(ngModel)]="viewName" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1">{{viewName}}</textarea>
            </mat-form-field>
        </header>
        <div class="container">
            <div class="wrapper">
                <h3 class="title no-select" (click)="fieldsExpanded = !fieldsExpanded">
                    <div class="item-wrapper">
                        <div class="text no-select">Fields</div>
                    </div>
                    <mat-icon class="mat-icon-rtl-mirror end no-select">
                        {{fieldsExpanded ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </h3>
            </div>
            <div class="expand-child no-select" *ngIf="fieldsExpanded">
                <div class="child no-select">
                    <dfx-list-item *ngFor="let field of pendingFields;let a = index" [field]="field"
                        (removeField)="removeField(a)"></dfx-list-item>
                    <div class="new-item">
                        <div class="inline" (click)="newFieldExpanded = true" *ngIf="!newFieldExpanded">
                            <mat-icon>add</mat-icon>
                            <span class="new">add a new field</span>
                        </div>

                        <form class="example-form" [formGroup]="fieldsForm" (ngSubmit)="onFieldSubmit(fieldsForm.value)"
                            *ngIf="newFieldExpanded">
                            <mat-checkbox class="example-width" [(ngModel)]="isConstr" [checked]="isConstr"
                                [ngModelOptions]="{standalone: true}">Constructor
                            </mat-checkbox>

                            <div class="example-width" style="display:inline-block;">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Type</mat-label>
                                    <mat-select formControlName="entity" (selectionChange)="onTypeSelected($event)">
                                        <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                            {{entity.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                                <mat-form-field style="width: 100%;" *ngIf="isTypedParameterOpened">
                                    <mat-label>Parameterized Type</mat-label>
                                    <mat-select formControlName="parameterizedEntity">
                                        <mat-option *ngFor="let parameterizedEntity of nonPrimitiveEntities"
                                            [value]="parameterizedEntity">
                                            {{parameterizedEntity.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <mat-form-field class="example-width">
                                <input formControlName="fieldName" matInput placeholder="fieldName">
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>

            <div class="wrapper">
                <h3 class="title no-select" (click)="methodsExpanded = !methodsExpanded">
                    <div class="item-wrapper">
                        <div class="text no-select">Methods</div>
                    </div>
                    <mat-icon class="mat-icon-rtl-mirror end no-select">
                        {{methodsExpanded ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </h3>
            </div>

            <div class="expand-child no-select" *ngIf="methodsExpanded">
                <div *ngFor="let method of pendingMethods;let i = index">
                    <h3 class="title no-select" (click)="switchExpansionForMethod(method)">
                        <div class="item-wrapper">
                            <div class="text no-select">{{method.name}}</div>
                        </div>
                        <mat-icon class="mat-icon-rtl-mirror end no-select">
                            {{isMethodExpanded(method) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </h3>
                    <div class="expand-child no-select" *ngIf="isMethodExpanded(method)">
                        <div class="child no-select">
                            <dfx-list-item *ngFor="let field of method.parameters;let a = index" [field]="field"
                                [isParam]="true" (removeMethodParam)="removeMethodParam(i, a)"></dfx-list-item>

                            <div class="new-item">
                                <div class="inline" (click)="newPrameterExpanded= true" *ngIf="!newPrameterExpanded">
                                    <mat-icon>add</mat-icon>
                                    <span class="new">add a new parameter</span>
                                </div>

                                <form class="example-form" [formGroup]="methodFieldsForm"
                                    (ngSubmit)="onNewFieldToMethodSubmit(methodFieldsForm.value, method)"
                                    *ngIf="newPrameterExpanded">
                                    <mat-form-field class="example-width">
                                        <mat-label>Type</mat-label>
                                        <mat-select formControlName="entity">
                                            <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                                {{entity.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="example-width">
                                        <input formControlName="fieldName" matInput placeholder="field name">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-item">
                    <div class="inline" (click)="methodExpanded=true" *ngIf="!methodExpanded">
                        <mat-icon>add</mat-icon>
                        <span class="new">add a new method</span>
                    </div>

                    <form class="example-form-inline" [formGroup]="viewMethodsForm"
                        (ngSubmit)="onViewMethodSubmit(viewMethodsForm.value)" *ngIf="methodExpanded">
                        <mat-form-field class="new-method-details-width">
                            <input formControlName="mehtodName" matInput placeholder="methodName">
                        </mat-form-field>
                        <div class="example-width" style="display:inline-block;">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Return Type</mat-label>
                                <mat-select formControlName="returnType"
                                (selectionChange)="onReturnTypeSelected($event)">
                                    <mat-option *ngFor="let returnEntity of allEntities" [value]="returnEntity">
                                        {{returnEntity.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" *ngIf="isReturnTypedParameterOpened">
                                <mat-label>Parameterized Type</mat-label>
                                <mat-select formControlName="returnParameterizedEntity">
                                    <mat-option *ngFor="let returnParameterizedEntity of nonPrimitiveEntities"
                                        [value]="returnParameterizedEntity">
                                        {{returnParameterizedEntity.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field style="width: 100%;">
                                <mat-label>Presenter to call</mat-label>
                                <mat-select formControlName="presenterToCall">
                                    <mat-option *ngFor="let presenterToCall of pendingPresenters"
                                        [value]="presenterToCall"
                                        (onSelectionChange)="viewMethodUseCaseSelected($event)">
                                        {{presenterToCall.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field style="width: 100%;" *ngIf="presenterMethods.length">
                                <mat-label>Method to call</mat-label>
                                <mat-select formControlName="presenterMethodToCall">
                                    <mat-option *ngFor="let presenterMethodToCall of presenterMethods"
                                        [value]="presenterMethodToCall">
                                        {{presenterMethodToCall.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="new-method-details-width">
                            <div class="new-item">
                                <mat-label>Parameters</mat-label>

                                <dfx-list-item *ngFor="let pendingParam of pendingParams;let a = index"
                                    [field]="pendingParam" [isParam]="true"
                                    (removeMethodParam)="removePendingMethodParam(a)"></dfx-list-item>

                                <form class="example-form" [formGroup]="newMethodFieldsForm"
                                    (ngSubmit)="onPendingParamSubmit(newMethodFieldsForm.value)">

                                    <div class="example-width" style="display:inline-block;">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Type</mat-label>
                                            <mat-select formControlName="entity"
                                                (selectionChange)="onMethodParamTypeSelected($event)">
                                                <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                                    {{entity.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field style="width: 100%;" *ngIf="isMethodParamTypedParameterOpened">
                                            <mat-label>Parameterized Type</mat-label>
                                            <mat-select formControlName="parameterizedEntity">
                                                <mat-option *ngFor="let parameterizedEntity of nonPrimitiveEntities"
                                                    [value]="parameterizedEntity">
                                                    {{parameterizedEntity.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <mat-form-field class="example-width">
                                        <input formControlName="fieldName" matInput placeholder="field name">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="saveNewView()">Add</button>
        </div>

        <button mat-mini-fab color="primary" class="newFlowNegativeButon">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-raised-button color="primary" class="newFlowNegativeButon" (click)="finish()">Finish</button>
    </div>
</div>
<!-- VIEWS END EHRE -->