<header id="modal-header">
    <mat-form-field id="modal-title" style="min-width: 350px; margin-right: 16px;" *ngIf="!softwareElemHolder.mainPackageName">
        <mat-label>main.package.name</mat-label>
        <textarea [(ngModel)]="mainPackage" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1">{{mainPackage}}</textarea>
    </mat-form-field>
    <mat-form-field id="modal-title">
        <mat-label>EntityName</mat-label>
        <textarea [(ngModel)]="title" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1">{{title}}</textarea>
    </mat-form-field>
</header>
<div class="container">
    <div class="wrapper">
        <h3 class="title no-select" (click)="fieldsExpanded = !fieldsExpanded">
            <div class="item-wrapper">
                <div class="text no-select">Fields</div>
            </div>
            <mat-icon class="mat-icon-rtl-mirror end no-select">
                {{fieldsExpanded ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </h3>
    </div>

    <div class="expand-child no-select" *ngIf="fieldsExpanded">
        <div class="child no-select">
            <dfx-list-item *ngFor="let field of getFields();let a = index" [field]="field"
                (removeFieldItem)="removeField(a)"></dfx-list-item>

            <div class="new-item">
                <div class="inline" (click)="newsFieldExpanded = true" *ngIf="!newsFieldExpanded">
                    <mat-icon>add</mat-icon>
                    <span class="new">add a new field</span>
                </div>

                <form class="example-form" [formGroup]="fieldsForm" (ngSubmit)="onFieldSubmit(fieldsForm.value)"
                    *ngIf="newsFieldExpanded">
                    <mat-checkbox class="example-width" [(ngModel)]="isConstr" [checked]="isConstr"
                        [ngModelOptions]="{standalone: true}">Constructor</mat-checkbox>

                    <div class="example-width" style="display:inline-block;">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="entity" (selectionChange)="onTypeSelected($event)">
                                <mat-option *ngFor="let entity of allEntities" [value]="entity">
                                    {{entity.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field style="width: 100%;" *ngIf="isTypedParameterOpened">
                            <mat-label>Parameterized Type</mat-label>
                            <mat-select formControlName="parameterizedEntity">
                                <mat-option *ngFor="let parameterizedEntity of nonPrimitiveEntities" [value]="parameterizedEntity">
                                    {{parameterizedEntity.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="example-width">
                        <input formControlName="fieldName" matInput placeholder="fieldName">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<button mat-raised-button color="primary" (click)="save()">Save</button>