.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.headers {
  width:25%;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  padding: 10px;
} 

.fleft {
  float: left;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.fright {
  float: right;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
}
