<div>
  <div class="fleft headers" fxLayout="row">
    <button mat-mini-fab color="primary" (click)="onNewEntityClicked()" style="margin-right: 10px; margin-top: 3px;">
      <mat-icon>add</mat-icon>
    </button>
    <mat-expansion-panel style="width: 100%">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Entities
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" #entity>
        <mat-list-option *ngFor="let entity of entities" [value]="entity" (click)="onEntitySelected(entity)">
          <a mat-list-item> <span class="entities">{{ entity.name }}</span> </a>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </div>

  <div class="fright headers" fxLayout="row">
    <button mat-mini-fab color="primary" (click)="onNewFlowClicked()" style="margin-right: 10px; margin-top: 3px;">
      <mat-icon>add</mat-icon>
    </button>
    <mat-expansion-panel style="width: 100%">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Flows
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list [multiple]="false" #entity>
        <mat-list-option *ngFor="let flow of flows" [value]="entity" (click)="onFlowSelected(flow)">
          <a mat-list-item> <span class="entities">{{ flow.name }}</span> </a>
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="download()" style="width: 100px;">Download</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="downloadXML()" style="width: 100px;">XML down</button>
  </div>
</div>